/* @import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&family=Water+Brush&display=swap'); */
/*  */


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.f-c-c{
  @apply flex flex-col justify-center items-center;
}

.f-c-s{
  @apply flex flex-col justify-center items-start;
}

/* .f-c-c{
 @apply flex flex-col justify-center items-center;
} */
.f-r-c{
  @apply flex justify-center items-center;
}

.f-r-s{
  @apply flex justify-start items-center;
}

/* 
.f-r-c{
  @apply flex justify-center items-center;
}  */

.ck{
  @apply border-2 border-red-800 bg-red-500 bg-opacity-50
}


.bgmain{
  @apply bg-green-400;
}

